<h2>Existing words</h2>

<h2>Add a new word</h2>

<form action="/index" method="post">
  <label for="word">New word</label>
    <input type="text" name="word">
  <button type="submit">Add a word!</button>
</form>
 
