<h1>Add words</h1>

<p>Add a word here:</p>

<form action="/words_form" method="post">
  <label for="name">word:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add word</button>
</form>
