<form id="definition" action="/index" method="post">
 <label for="email">Email</label>
 <input type="text" name="email">
 <select class="form-control" id="email-type">
   <option value="business">business</option>
   <option value="personal">personal</option>
   <option value="other">other</option>
 </select>
 <button type="submit" name="email">Add email</button>
</form>
