<h1>Add a New Word</h1>

<form action="/words_form" method="post">
  <label for="name">Word to Learn:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add it!</button>
</form>
